@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    /* background-color: ; */
  }
  .banner {
    height: calc(100vh - 64px);
    max-height: 920px;
  }

  .slide {
    height: 0px;
    overflow: hidden;
    transform: translateY(-5px);
    padding-top: 0;
    padding-bottom: 0;
  }

  .rotate {
    transform: rotate(-180deg);
  }

  @media screen and (max-width: 1060px) and (min-width: 768px) {
    .heading-break {
      display: block;
    }
  }
  @media screen and (max-width: 400px) {
    .heading-break {
      display: block;
    }
  }
}
