@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    /* background-color: ; */
  }
  .banner {
    height: calc(100vh - 64px);
    max-height: 920px;
  }
  @media screen and (max-width: 1060px) and (min-width: 768px) {
    .heading-break {
      display: block;
    }
  }
  @media screen and (max-width: 400px) {
    .heading-break {
      display: block;
    }
  }
}
